@import '../variable.scss';

.showTextNoteContainer {
    margin: 20px;
    margin-left: 0px;

    .actionButtonContainer{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding: 10px;
        width: 100%;

        button {
            background-color: #219C90;
            color : white
        }
    }

    .showTextNote {
        padding : 10px;
        background-color: $Oasis;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

:host(app-text-note-landing) {height: 100%; width: 100%;}