<div class="showDocumentNoteContainer">
    <h3>Document Note</h3>
    <app-notes-action-button *ngIf="showActionButton === true" [navigateTo]="'document'"></app-notes-action-button>

    <div *ngFor = 'let data of documentNoteData;' class="showDocumentNote">
        <div class="document-preview">
            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(data.filesUrl)" width="500px" height="300px"></iframe>
        </div>
        <span class="text-container">
            <div class="document-title">
                {{data.title}}
            </div>
            <div class="document-type">
                Document Type : {{data.documenttype}}
            </div>
        </span>
    </div>
</div>