@import '../variable.scss';

.showDocumentNote {
    display: flex;
    margin-top: 15px;
    height: 350px;
    align-items: center;
    padding : 10px;
    background-color: $Oasis;
    
    .document-type {
      margin-top : 10px
    }

    .document-preview {
      margin-right: 15px ;
    }
  }

:host(app-document-note-landing) {height: 100%; width: 100%;}