<div class="document-note-container">
    
    <div class="alignment-container">
        <div class="align-to-left">
            Documnet Note
        </div>
        <div class="actionButtonContainer align-to-right">
            <app-save-buttons (save)="saveDocumentNote()" [navigateTo]="'documentlanding'"></app-save-buttons>
        </div>
    </div> 
    
    <div class="document-note-field-conatiner">
        <div class="document-title">Title:</div>
        <app-title (valueChange)="updateTitleValue($event)" class="title-input"></app-title>

        <app-document (documentChange)="updateDocumentValue($event)" (documentTypeChange)="updateDocumentTypeValue($event)" class="document-input"></app-document>
    </div>
</div>
 
