@import '../variable.scss';
  
  .showPictureNote {
  display: flex;
  margin-top: 15px;
  height: 100px;
  align-items: center;
  padding : 10px;
  background-color: $Oasis;

  .image-container {
    padding: 20px;
    padding-left : 0px;

    img {
      max-width: 100%;
      max-height: 100px;
      margin: 0 auto;
    }

    .imagePreview {
      height: 100px;
      width: 100px;
    }
  }
}
:host(app-picture-note-landing) {height: 100%; width: 100%;}
