<div class="picture-note-container">
    <div class="alignment-container">
        <div class="align-to-left">
            Picture Note
        </div>
    </div> 
    <app-save-buttons (save)="savePictureNote()" [navigateTo]="'picturelanding'"></app-save-buttons>
    <div class="picture-note-field-conatiner">
        <app-picture (valueChange)="updatePictureValue($event)" class="picture-input"></app-picture>

        <div class="picture-title">Title:</div>
        <app-title (valueChange)="updateTitleValue($event)" class="title-input"></app-title>

        <div class="picture-description-title">Description:</div>
        <app-description (valueChange)="updateDescriptionValue($event)" class="article-description-input"></app-description>
    </div>
</div>

