.article-note-container{
    .article-note-field-conatiner {
        /* margin : 20px; */
        display: block;
        .article-title {
            margin-bottom: 5px;
        }
        
        .article-description-title { 
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
    .actionButtonSave {
        margin-right: 10px;
    }
}

:host(app-article-note) {height: 100%; width: 100%;}