<div class="article-note-container">
    <h3>Article Note</h3>
    <div class="alignment-container">
        <div class="align-to-left">
            Article Note
        </div>
        <div class="actionButtonContainer align-to-right">
            <app-save-buttons (save)="saveArticleNote()" [navigateTo]="'articlelanding'"></app-save-buttons>
        </div>
    </div> 
    
    <div class="article-note-field-conatiner">
        <div class="article-title">Title:</div>
        <app-title (valueChange)="updateTitleValue($event)" class="title-input"></app-title>

        <div class="article-description-title">Description:</div>
        <app-description (valueChange)="updateDescriptionValue($event)" class="article-description-input"></app-description>
    </div>
</div>

