<div class="note-container">
    <div class="note-item" (click)="navigateUsingNgrx()">Text Note</div>
    <div class="note-item" (click)="navigateTo('articlelanding')">Article Note</div>
    <div class="note-item" (click)="navigateTo('picturelanding')">Picture Note</div>
    <div class="note-item" (click)="navigateTo('documentlanding')">Document Note</div>
    <div class="note-item" (click)="navigateTo('customlanding')">Custom Note</div>
    <div class="note-item" (click)="navigateTo('notes')">Your Notes</div>
</div>