<div class="note-container">
    <div class="note-item" (click)="navigateTo('textlanding')">Text Note</div>
    <div class="note-item" (click)="navigateTo('articlelanding')">Article Note</div>
    <div class="note-item" (click)="navigateTo('picturelanding')">Picture Note</div>
    <div class="note-item" (click)="navigateTo('document')">Document Note</div>
    <div class="note-item" title="SOON....">Soon ......</div>
    <div class="note-item" (click)="navigateTo('notes')">Your Notes</div>
</div>