@import '../variable.scss';

.showArticleNoteContainer {
    margin: 20px;
    margin-left: 0px;

    .showArticleNote {
        padding : 10px;
        background-color: $Oasis;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
        
        .article-title {
            font-size : 20px;
            padding : 5px;
        }
        
        .article-description {
            white-space: pre-wrap;
            padding: 10px;
            border: 1px solid #ccc;
        }
    }
    
}





:host(app-article-note-landing) {height: 100%; width: 100%;}