body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .home-note-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #c6dafb;
        color: black;
    }
    
    .home-note-header-left,
    .home-note-header-center,
    .home-note-header-right {
        flex: 1;
        text-align: center;
        cursor: pointer;
    }
    
    .home-note-header-left {
        text-align: left;
        position: relative;
    }
    
    .home-note-header-right {
        text-align: right;
    }
    
    .content {
        flex: 1;
        display: flex;
        padding: 20px;
        box-sizing: border-box;
    }
}

