<div class="body-container">
  <header class="home-note-header">
    <div class="home-note-header-left">
        Acme Company Ltd
    </div>
    <div class="home-note-header-center">
        Note...
    </div>
    <div class="home-note-header-right">
        About
    </div>
  </header>
  
  <div class="note-container">
    <div class="note-item">Text Note</div>
    <div class="note-item">Article Note</div>
    <div class="note-item">Picture Note</div>
    <div class="note-item">Document Note</div>
    <div class="note-item">Soon ......</div>
    <div class="note-item">Your Notes</div>
  </div>
</div>